/.env
/node_modules
BackupNew
/BackupNew
C:\Users\Nevo\NevoBot\BackupNew
Backups
image_cache.txt
package-lock.json
CACHE BACKUP.json
image_cache.json
image_cache.json
commandwords.json
rules.json
BackupNew