/.env
/node_modules
BackupNew
Backups
image_cache.txt
package-lock.json
CACHE BACKUP.json
image_cache.json
image_cache.json
commandwords.json
rules.json
BackupNew
NevoBot.bat
storage/deleted_ids.json
storage/deleted_images.json
